form{
	color: black;
	margin: 20px 30px 20px 30px;
	background-color: lightgray;
	width:60%;
	padding: 10px;
}
fieldset{
	border-color: solid violet;
	padding: 15px;
}
input:hover{
	background-color: rgb(230,150,200);
}
input{
	background-color: pink;
}
input#submit{
	background-color:green;
	text-align: left;
}
input#reset{
	background-color: gray;
	text-align: right;
}
label{
	text-align:right;
	padding-right: 10px;
}